.Login {
    width: 100vw;
    height: 100vh;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
}

.LoginLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginLogo {
    font-size: 50px;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;
}

.LoginDescription {
    font-size: 24px;
}

.RegisterBox {
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    background-repeat: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LoginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid grey;
    font-style: 18px;
    padding-left: 20px;
}

.LoginInput:focus {
    outline: none;
}

.LoginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(179, 179, 179);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.LoginForgot {
    text-align: center;
    color: black;
    cursor: pointer;
}

.LoginRegisterButton {
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.LoginRegisterLink{
    color: white;
}