.Profile{
  padding-top: 5%;
  height: 100vh;
  width: 100vw;
}

.gradient-custom {
  background: #212529;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.profile-picture {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.edit-profile{
  margin-top: 50px;
  height: '36px';
  overflow: 'visible'
}

.profile-info {
  display: flex;
  flex-direction: column;
}

select {
  margin-top: 1px;
  padding: 4px;
  border-radius: 1px;
  border: 1;
}
