.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .profile-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 50px;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  select {
    margin-top: 1px;
    padding: 4px;
    border-radius: 1px;
    border: 1;
  }
  